/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */
@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One%7cDosis&display=swap");
/* basic elements */
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ecb576;
  font-family: "Dosis", sans-serif;
  margin: 0rem 2rem;
}
body .intro {
  padding-top: 1rem;
  background-image: url("style-guide-template/src/assets/Untitled-1sm.jpg");
  background-repeat: no-repeat;
  background-size: 100% 45%;
}
body .intro h1, body .intro h2 {
  color: #ffffff;
  margin: 0;
  text-align: right;
}
body .intro a {
  color: #ffffff;
}

a {
  color: #006ec9;
}

h1, h2, h3 {
  font-family: "Alfa Slab One", serif;
  letter-spacing: 0.2em;
  color: #7b8aa7;
}

h3 {
  background-color: #633c4e;
  text-align: center;
}

.summary {
  background-color: rgba(2, 25, 88, 0.3);
  color: #ffffff;
}

.participation h3, .requirements h3 {
  padding: 0.5em;
  padding-right: 3em;
  text-align: right;
}

.explanation h3, .benefits h3 {
  padding: 0.5em;
  padding-left: 3em;
  text-align: left;
}

p {
  line-height: 1.5em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

aside {
  background-color: #0e1b30;
  padding: 1em;
  color: #7b8aa7;
}
aside h3 {
  background-color: #006ec9;
}
aside li {
  position: relative;
  padding: 5px;
  margin: 2em;
}
aside li:hover a {
  font-size: 20px;
  color: #006ec9;
}
aside li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid #006ec9;
  border-left: 2px solid #006ec9;
  transform-origin: left;
  transition: 0.5s;
  box-sizing: border-box;
}
aside li:hover:before {
  border-color: #7b8aa7;
  width: 50%;
  height: 100%;
}
aside li:after {
  content: "";
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 2px solid #006ec9;
  border-bottom: 2px solid #006ec9;
  transform-origin: right;
  transition: 0.5s;
  box-sizing: border-box;
}
aside li:hover:after {
  border-color: #7b8aa7;
  width: 90%;
  height: 0%;
}
aside li a {
  color: #7b8aa7;
  text-decoration: none;
}

footer {
  display: flex;
  padding: 1rem;
  background-color: #0e1b30;
  justify-content: space-evenly;
}
footer a {
  position: relative;
  padding: 0 10px;
  color: #006ec9;
  text-decoration: none;
  font-size: 20px;
}
footer a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 1%;
  border-top: 2px solid #7b8aa7;
  border-left: 2px solid #7b8aa7;
  transform-origin: left;
  transition: 0.5s;
  box-sizing: border-box;
  animation: techBefore 2s linear infinite;
}
@keyframes techBefore {
  0% {
    width: 0px;
    height: 1%;
  }
  50% {
    width: 0px;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 0%;
  }
}
footer a:after {
  content: "";
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 2px solid #7b8aa7;
  border-bottom: 2px solid #7b8aa7;
  transform-origin: right;
  transition: 0.5s;
  box-sizing: border-box;
}

@media (min-width: 50rem) {
  .page-wrapper {
    display: grid;
    grid-gap: 2.5% 5%;
  }

  body .intro {
    grid-column: 1;
    grid-column-end: 4;
    background-image: url("style-guide-template/src/assets/Untitled-1.jpg");
    background-size: 100% 60%;
  }
  body .intro header, body .intro .summary {
    padding-left: 1rem;
  }
  body .intro h1, body .intro h2 {
    margin: 1rem;
    color: #ffffff;
    text-align: left;
  }

  aside {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 2;
  }
}

/*# sourceMappingURL=style.css.map */
