/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */

@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One%7cDosis&display=swap');

$color-1: #006ec9; // Black
$color-2: #633c4e; // Purple
$color-3: #ecb576; // Orange
$color-4: #0e1b30; // dark blue
$color-5: #7b8aa7; // light blue
$color-6: #ffffff; // white

// additional colors

$success: #6fce72; // green
$alert: $color-3; // orange

// fonts
$primary-font: "Dosis", sans-serif;
$secondary-font: "Alfa Slab One", serif;

@mixin transform($options) {
  -webkit-transform: $options;
-moz-transform: $options;
-ms-transform: $options;
-o-transform: $options;
transform: $options;
}

@mixin transition($options) {
  -webkit-transition: $options;
-moz-transition: $options;
transition: $options;
}

/* basic elements */
html {
	margin: 0;
	padding: 0;
	}

body { 
  background-color: $color-3;
	font-family: 'Dosis', sans-serif;
	margin: 0rem 2rem;
   .intro{
     background-image:url('style-guide-template/src/assets/download.jpg');
     background-repeat: no-repeat;
     background-size: 100% 60%;
   }
  }
  .summary,.preamble{
    text-align:center;

  }

h1, h2, h3 { 
	font-family: 'Alfa Slab One', serif;
  text-align: center;
  letter-spacing:.2em;
  color:$color-5;
  }
  h3{
    background-color: $color-2;
  }
  .preamble,.participation,.requirements {
   h3{
    padding:.5em;
    padding-right:3em;
    text-align: right;
   }
  }
.explanation,.benefits{
  h3{
    padding:.5em;
    padding-left:3em;
    text-align:left;
  }
}
p {
  line-height: 1.5em;
	}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
aside{
  background-color:$color-4;
  padding:1em;
  color:$color-5;
  h3{
    background-color:$color-1;
  }
  li{
    margin:2em;
    a{
      color:$color-5;
      text-decoration: none;
      border-bottom:3px solid $color-1;
    }
  }
}

@media (min-width: 50rem) {
  .page-wrapper {
    display: grid;
    grid-gap: 2.5% 5%;
  }

  .intro {
    grid-column: 1;
    grid-column-end: 4;
  }

  aside {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row:2;
   
  }
}

