@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One%7cDosis&display=swap');

$color-1: #006ec9; // Black
$color-2: #633c4e; // Purple
$color-3: #ecb576; // Orange
$color-4: #0e1b30; // dark blue
$color-5: #7b8aa7; // light blue
$color-6: #ffffff; // white

// additional colors

$success: #6fce72; // green
$alert: $color-3; // orange

// fonts
$primary-font: "Dosis", sans-serif;
$secondary-font: "Alfa Slab One", serif;

@mixin transformLeft {
  -webkit-transform-origin: left;
-moz-transform-origin: left;
-ms-transform-origin: left;
-o-transform-origin: left;
transform-origin: left;
}

@mixin transformRight {
  -webkit-transform-origin: right;
-moz-transform-origin: right;
-ms-transform-origin: right;
-o-transform-origin: right;
transform-origin: right;
}

@mixin transition {
  -webkit-transition:.5s ;
-moz-transition:.5s ;
transition:.5s ;
}
@mixin animation{
  -webkit-animation: techBefore 5s linear infinite;
  -moz-animation: techBefore 5s linear infinite;
  -o-animation: techBefore 5s linear infinite;
  animation: techBefore 5s linear infinite;
}
@mixin animationBefore{
  content: '';
  position:absolute;
  top:0;
  left:0;
  width:0px;
  height:1%;
  border-top:2px solid $color-5;
  border-left:2px solid $color-5;
  @include transformLeft;
  @include transition;
  box-sizing:border-box;
  @include animation;
}

@mixin animation{
  -webkit-animation: techBefore 5s linear infinite;
  -moz-animation: techBefore 5s linear infinite;
  -o-animation: techBefore 5s linear infinite;
  animation: techBefore 5s linear infinite;
}
@mixin animationBefore{
  content: '';
  position:absolute;
  top:0;
  left:0;
  width:0px;
  height:1%;
  border-top:2px solid $color-5;
  border-left:2px solid $color-5;
  @include transformLeft;
  @include transition;
  box-sizing:border-box;
  @include animation;
}

/* basic elements */
html {
	margin: 0;
	padding: 0;
	}

body { 
  background-color: $color-3;
	font-family: $primary-font;
	margin: 0rem 2rem;
   .intro{
     padding-top:1rem;
     background-image:url('style-guide-template/src/assets/AdobeStock_300892500sm.jpg');
     background-repeat: no-repeat;
     background-size:100% 45%;
     h1,h2{
       color:$color-6;
       margin:0;
       text-align:right;
     }
     a{
       color:$color-6;  
     }
   }
  }

 a{
   color:$color-1;
 }

h1, h2, h3 { 
	font-family: $secondary-font;
  letter-spacing:.2em;
  color:$color-5;
  }
 
  h3{
    background-color: $color-2;
    text-align:center;
  }
  .summary{
    background-color:rgba(2, 25, 88, 0.3);
    color:$color-6;
  }
 .participation,.requirements {
   h3{
    padding:.5em;
    padding-right:3em;
    text-align: right;
   }
  }

.explanation,.benefits{
  h3{
    padding:.5em;
    padding-left:3em;
    text-align:left;
  }
}

p {
  line-height: 1.5em;
	}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }

aside{
  position:relative;
  background-color:$color-4;
  padding:1em;
  color:$color-5;
    &::before{
      content:'';
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background-image:url('style-guide-template/src/assets/dark-grungy-paper-texture-free.png');
      background-size: cover;
      background-repeat:no-repeat;
      opacity:.1;
    }

  h3{
    background-color:$color-1;
    position:relative;
    &:before{
      @include animationBefore;
    }
    &:after{
      content: '';
      margin:0;
      position:absolute;
      bottom:0;
      right:0;
      width:10px;
      height:10px;
      border-right:2px solid $color-5;
      border-bottom:2px solid $color-5;
      @include transformRight;
      @include transition;
      box-sizing:border-box;
      @include animation;
    }
  }
  li{
    position:relative;
    padding:5px;
    margin:2em;
    &:hover{
     a{font-size:20px;
       color:$color-1;
     }
   }
     &:before{
       content: '';
       position:absolute;
       top:0;
       left:0;
       width:10px;
       height:10px;
       border-top:2px solid $color-1;
       border-left:2px solid $color-1;
       @include transformLeft;
       @include transition;
       box-sizing:border-box;
     }
     &:hover:before{
       border-color: $color-5;
       width:50%;
       height:100%;
     }
     &:after{
      content: '';
      margin:0;
      position:absolute;
      bottom:0;
      right:0;
      width:10px;
      height:10px;
      border-right:2px solid $color-1;
      border-bottom:2px solid $color-1;
      @include transformRight;
      @include transition;
      box-sizing:border-box;
    }
    &:hover:after{
      border-color: $color-5;
      width:90%;
      height:0%;
    }
    a{
      color:$color-5;
      text-decoration: none;
    }
  }
}
footer{
  display:flex;
  padding:1rem;
  background-color:$color-4;
  justify-content:space-evenly;
  a{
    position:relative;
    padding:0 10px;
    color:$color-1;
    text-decoration: none;
    font-size:20px;
    &:before{
      @include animationBefore;
    }
    &:after{
      content: '';
      margin:0;
      position:absolute;
      bottom:0;
      right:0;
      width:10px;
      height:10px;
      border-right:2px solid $color-5;
      border-bottom:2px solid $color-5;
      @include transformRight;
      @include transition;
      box-sizing:border-box;
      animation: techBefore 5s linear infinite;
    }
  }
}

@keyframes techBefore {
  0%{
    width: 100%;
    height: 0%;
  }
  25% {
    width: 0px;
    height: 5%;
  }
  50% {
    width: 0px;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 0%;
  }
}

@media (min-width: 50rem) {
  .page-wrapper {
    display: grid;
    grid-gap: 2.5% 5%;
  }

body .intro {
    grid-column: 1;
    grid-column-end: 4;
    background-image:url('style-guide-template/src/assets/AdobeStock_300892500.jpg');
    background-size:100% 55%;
    header, .summary{
      padding-left:1rem;
    }
    h1, h2{
      margin:1rem;
      color:$color-6;
      text-align:left;
    }
  }
  aside {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row:2;
   
  }
}

/*# sourceMappingURL=style.css.map */