$color-1: #006ec9; // Black
$color-2: #633c4e; // Purple
$color-3: #ecb576; // Orange
$color-4: #0e1b30; // dark blue
$color-5: #7b8aa7; // light blue
$color-6: #ffffff; // white

// additional colors

$success: #6fce72; // green
$alert: $color-3; // orange

// fonts
$primary-font: "Dosis", sans-serif;
$secondary-font: "Alfa Slab One", serif;