@import 'partials/reset';
@import 'partials/prefix-mixins';
@import 'partials/layout'; // responsive grid and media queries

// color palette - these colors will be the color swatches of the Colors section

$color-1: #060912; // Black
$color-2: #633c4e; // Purple
$color-3: #ecb576; // Orange
$color-4: #0e1b30; // dark blue
$color-5: #7b8aa7; // light blue
$color-6: #ffffff; // white

// additional colors

$success: #6fce72; // green
$alert: $color-3; // orange

// fonts
$primary-font: 'Alfa Slab One', serif;
$secondary-font: 'Quicksand', sans-serif;

/* -------------------------------- 

xBackground 

-------------------------------- */

@import "background";

/* -------------------------------- 

xPatterns

-------------------------------- */

@import "patterns";
/* -------------------------------- 

xNavigation 

-------------------------------- */

@import "navigation";

/* -------------------------------- 

xPage title 

-------------------------------- */

@import "page-title";

/* -------------------------------- 

xTypography 

-------------------------------- */

@import "typography";


@import 'partials/basic-style';
